@import url("https://fonts.googleapis.com/css?family=Charm:100,200,300,400,500,600,700|Inconsolata:100,200,300,400,500,600,700");

/*---------------------------------General*/

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Inconsolata', sans-serif;
    text-align: justify;
}

section {
    padding: 10px 80px;
}

.uppercase {
    text-transform: uppercase;
}

.heading {
    font-family: Charm;
    font-weight: 700;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
}

.subheading {
    font-weight: 700;
    text-decoration: underline;
    font-size: 20px;
}

/*---------------------------------Header*/

.navbar-toggle .icon-bar {
    background-color: #FCF7F8;
}

.nav {
    width: 100%;
    background-color: #C0A9B0;
    margin-bottom: 0;
}

.logo {
    height: 5em;
    margin: 5px 30px;
}

.navigation-links {
    margin-top: 1em;
    list-style: none;
}

@media (min-width: 768px) {
    .navigation-links {
        float: right;
    }
}


.link a {
    padding-right: 30px;
    color: #FCF7F8;
    font-weight: bold;
    font-size: 1.4em;
}

.active {
    text-decoration: underline;
}

/*---------------------------------Home Page*/

.jumbotron {
    background-color: transparent;
    color: #FCF7F8;
    font-family: 'Charm';
}

.page-heading {
    font-weight: 700;
    font-size: 5em;
}

.page-subheading {
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.background-image {
    height: 100vh;
    background: url(/assets/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.opaque-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


/*---------------------------------About Page*/

.cottagetearooms-image {
    display: block;
    margin: 0 auto;
    max-height: 600px;
    position: relative;
}

.video {
    display: inline-block;
    width: 100%;
}

/*---------------------------------Menu Page*/

.menu-image {
    max-height: 300px;
    max-width: 400px;
    padding-bottom: 20px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.menu-item {
    padding-top: 10px;
}

.item-price {
    padding-top: 10px;
    font-weight: bold;
    list-style: none;
}

.item-add {
    font-weight: bold;
    list-style: none;
}

/*---------------------------------Contact Page*/

.inline-block-element .key, 
.inline-block-element .value {
    display: inline-block;
}

.inline-block-element .key {
    font-weight: bold;
}

.social-link-contact {
    display: inline-block;
    padding: 30px 10px;
}

.google-maps-api {
    padding-bottom: 30px;
}

.subheading-bat {
    color: #FCF7F8;
    font-weight: 700;
}

.reservation-form {
    display: block;
    margin-top: 30px;
    text-align: center;
    background-color: #92B4F4;
    padding: 20px 0 20px 0;
}

.reservation-form .form-group input,
.reservation-form .form-group textarea{
    width: 200px;
}

.text-field {
    height: 5em;
}

.submit-button {
    background-color: #FCF7F8;
    color: #C0A9B0;
    font-weight: 700;
}

.submit-button:hover {
    background-color: #C0A9B0;
    color: #FCF7F8;
}

/*---------------------------------Reviews Page*/


.tripadvisor-container{
    display: block;
    margin: 40px;
}

.tripadvisor {
    width: 100%; 
    height: 300px;
}
 
/*---------------------------------Footer*/

.rights {
    color: #FCF7F8;
    padding-top: 12px;
    padding-left: 12px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .rights {
        text-align: right;
    }
}

.bg-footer {
    background-color: #C0A9B0;
}

.footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.social-links a i {
    margin-top: 6px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    color: #383F51;
    background-color: #C0A9B0;
    transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
}

.social-links a i:hover {
    background-color: #FCF7F8;
}

